.main {
  height: 550px;
  width: 500px;
  background-color: salmon;
  margin-left: 350px;
  margin-top: 50px;
  text-align: center;
  padding: 10px;

}

h1 {
  font-family: sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.timer-controllers {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold

}

.timer {
  height: 200px;
  width: 200px;
  border: 2px solid red;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
